.el-message {
  border: 2px solid #000000;
}

.el-form {
  display: flex;
  flex-wrap: wrap;
  .el-form-item {
    flex-shrink: 0;

    .el-form-item__label {
      padding: 0 20px;
      justify-content: left;
    }
  }
}

.el-header {
  --el-header-padding: 0;
  --el-header-height: 50px;
}

.el-main {
  --el-main-padding: 0;
  overflow: hidden;
}

.el-aside {
  width: auto;
}

.el-dialog {
  --el-dialog-margin-top: 30vh !important; // 不用transform是因为拖拽需要

  .el-dialog__header {
    padding: 10px;
    margin-right: 0;
    border-bottom: 1px solid rgba(175, 175, 175, 0.6);

    .el-dialog__title {
      font-size: 16px;
      font-weight: 600;
    }

    .el-dialog__headerbtn {
      width: 34px;
      height: 34px;
    }
  }
}