.m-tem {
  .tem-header {
    height: 50px;
    line-height: 50px;
    padding: 0 var(--padding-large-1);
    display: flex;
    color: var(--white-light);
    background: var(--bg-header-color);

    .header-name {
      .logo {
        display: inline-block;
        margin-right: var(--margin-mid);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: var(--green-dark);
        vertical-align: middle;
      }
    }
  }

  .tem-aside {
    width: var(--aside-width);
    transition: 200ms;
  }

  .tem-bread {
    padding: 0 var(--padding-small);
    --el-header-height: 30px;
  }

  .tem-main-body {
    background: var(--bg-color-info);

    .router-view {
      background: var(--bg-color);
      height: calc(100vh - 100px);
      margin: var(--margin-mid);
      padding: var(--padding-mid-1);
      overflow: auto;
      border-radius: 6px;

      .main-view {
        height: 100%;
        min-width: 720px;
      }
    }
  }
}
