@font-face {
  font-family: "iconfont"; /* Project id 3896478 */
  src: url("iconfont.woff2?t=1685700339733") format("woff2"),
    url("iconfont.woff?t=1685700339733") format("woff"),
    url("iconfont.ttf?t=1685700339733") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-collapse:before {
  content: "\e900";
}

.icon-custom-user:before {
  content: "\e632";
}

.icon-lock:before {
  content: "\e609";
}

.icon-close:before {
  content: "\e668";
}
